@model DotTorrent.Web.Models.MediaViewModel

@{
    ViewData["Title"] = "Media";
    Layout = "~/Layouts/_Layout.cshtml";
}

<h1>Media</h1>

<div class="dt-media-grid">
  @foreach (var item in Model.MediaItems)
  {
    @Html.PartialAsync("~/Views/Media/MediaItemPartial.cshtml", item);
  }
</div>