
@{
    ViewData["Title"] = "Search";
    Layout = "~/Layouts/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <input type="text" class="form-control form-control-lg" placeholder="Movie title, or IMDB ID...">
            </div>
        </div>
    </div>
</div>